body {
  background-color: darken(white, 20%);
  margin: 0 20px;
}

.ch-head {
  $size: 60px;

  width: $size;
  height: $size;
  border-radius: $size/2;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  box-sizing: border-box;

  & + & {
    margin-left: 10px;
  }

  img {
    max-width: 100%;
  }

  &.conversation-list {
    color: white;
    font-size: 30px;
    line-height: $size;
    text-align: center;
    border: 1px solid white;
  }
}
.ch-head-link {
  color: white;
  text-decoration: none;
  display: block;
}

.ch-head-list {
  margin: 0;

  &.collapsed {
    .ch-head {
      top: 260px;
      right: 0;
      transition: top  400ms cubic-bezier(.5,0,1,1),
                  right 400ms cubic-bezier(0,0,.5,1);
    }
  }

  &.expanded {
    .ch-head {
      top: 60px;
      transition: top  750ms cubic-bezier(.7,-0.3,0,1),
                  right 750ms cubic-bezier(.7,-0.3,0,1);
    }
  }
}
