body {
  background-color: #cccccc;
  margin: 0 20px;
}

.ch-head {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  box-sizing: border-box;
}
.ch-head + .ch-head {
  margin-left: 10px;
}
.ch-head img {
  max-width: 100%;
}
.ch-head.conversation-list {
  color: white;
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  border: 1px solid white;
}

.ch-head-link {
  color: white;
  text-decoration: none;
  display: block;
}

.ch-head-list {
  margin: 0;
}
.ch-head-list.collapsed .ch-head {
  top: 260px;
  right: 0;
  transition: top 400ms cubic-bezier(0.5, 0, 1, 1), right 400ms cubic-bezier(0, 0, 0.5, 1);
}
.ch-head-list.expanded .ch-head {
  top: 60px;
  transition: top 750ms cubic-bezier(0.7, 0, 0, 1), right 750ms cubic-bezier(0.7, 0, 0, 1);
}
